<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/myApp.css"/>
    <script src="/webjars/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <meta charset="UTF-8"/>
    <title>Error</title>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">

            <a class="navbar-brand" href="/">Spring Boot - SOAP Client </a>
        </div>

    </div>
</nav>
<div class="container">

    <div class="starter-template">
        <h3>No result found. Please go <a href="/">back</a> and try again with a new country.</h3>
    </div>
</div>

</body>
</html>